body{font-family: serif;
font-size: 17px;
color: rgb(5, 5, 76);
background-color: rgb(196, 200, 199);}

a {color: rgb(8, 148, 22);
    text-decoration: none;}
    a:visited {color: rgb(196, 15, 15);}
    a:hover{text-decoration: underline;
    font-weight: bold;}
    .resumelist{font-weight: bolder;
    font-style: normal;}

    .Space {text-align: center; box-sizing: border-box;}

.Music {font-size: larger; border: 10px; box-sizing: border-box black;}